@import url(/src/css/utils/vars.css);
@import url(/src/css/utils/fonts.css);

.list-first-article-4-reasons{
    gap: 16px;
}
.article-4-reasons-title{
    font-family:  "Roboto", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}