@import url(/src/css/utils/vars.css);

.footer {
    padding-top: 88px;
    background-color: var(--black-bg-color);
    margin-top: 500px;
    /* Removed commented-out line: margin-top: 140px; */
}

.footer-wrapper {
    align-items: start;
    flex-direction: row;
    gap: 200px;
}

.logotype {
    width: 217px;
    height: 37px;
    background: url(/src/images/svgs/if-srite-doesnt-work/text-logotype.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social-net-list {
    margin-top: 50px;
    gap: 17px;
}

.social-net-list-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.social-net-list-item:hover {
    transform: scale(1.3) rotate(360deg);
    transition: 0.7s;
}

.social-net-list-item:not(:hover) {
    transition: 0.7s;
}

.logo-and-form {
    gap: 478px;
}

#social-1,
#social-2,
#social-3,
#social-4,
#social-5,
#social-6,
#social-7 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#social-1 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/instagram.svg);
}

#social-2 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/facebook.svg);
}

#social-3 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/youtube.svg);
}

#social-4 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/x.svg);
}

#social-5 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/telegram.svg);
}

#social-6 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/watsapp.svg);
}

#social-7 {
    background-image: url(/src/images/svgs/if-srite-doesnt-work/google-plus.svg);
}


.tell-us-list {
    margin-top: 114px;
    flex-direction: column;
    gap: 19px;
}

.footer-lists {
    margin-top: 110px;
    flex-direction: column;
    gap: 19px;
}

.tell-us-list-item {
    color: var(--bgrey);
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: var(--light);
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.list-name {
    color: var(--white-text-color);
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: var(--bolder);
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
    cursor: default;
}

.tell-us-list-item:hover {
    color: var(--white-text-color);
}

#footer-list-2 {
    margin-top: 60px;
}

#footer-list-2 .list-name {
    margin-bottom: 30px;
}

/* ========================FORM========================== */
/* =================================================== */
.name-of-subscribe-form {
    margin-left: 145px;
    color: var(--white-text-color);
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: var(--medium);
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.input-group {
    margin-top: 50px;
    margin-left: 138px;
    display: flex;
    align-items: center;
    position: relative;
}

.input {
    height: 48px;
    width: 380px;
    color: var(--input-text-color);
    font-size: 15px;
    border: 1px solid var(--accent-color);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: transparent;
    padding-left: 20px;
    margin-right: -65px;
}

.button--submit {
    height: 48px;
    width: 163px;
    padding: 16px 32px;
    border: var(--accent-color) 1px solid;
    border-radius: 35px;
    background-color: var(--accent-color);
    color: var(--white);
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: var(--bold);
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    z-index: 1000;
    position: relative;
}

.button--submit:hover {
    background-color: var(--violet);
    opacity: 1;
}

.input:focus,
.input:focus-visible {
    border-color: var(--violet);
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--black-bg-color);
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.btn:hover {
    box-shadow: inset var(--the-most-useful-shadow) var(--accent-color);
    transform: translateY(-2px) scale(1.1);
}

.btn:hover .text {
    color: var(--white);
}

.btn:hover .sparkle {
    fill: var(--white);
    transform: scale(1.1);
}

.footer-main-list {
    gap: 55px;
    align-items: start;
    flex-wrap: wrap;
}

.under-list {
    margin-top: 100px;
    padding-top: 28px;
    border-top: 1px solid gray;
    justify-content: space-between;
}

.under-list-item {
    color: var(--white-text-color);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: var(--light);
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.left {
    margin-right: 200px;
}