.section-slider {
  margin: 140px 0;
}

.slider-ttl {
  color: var(--black);
  font-family: var(--impact);
  font-size: 48px;
  font-weight: 900;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
}

.slider-desc {
  color: var(--black-bg-color);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
