<ul class="list-first-article-4-reasons">
    <li class="article-4-reasons-item">
        <h2 class="article-4-reasons-title">Приватна школа Олени Ведерникової <br>Виберіть зручну саме для вас</h2>
    </li>
    <li class="article-4-reasons-item">
        <p class="article-4-reasons-paragraph">Практично всі рейтингові приватні школи Києва мають один мінус –
            відсутність філій по місту та вкрай незручне розташування деколи незручно привозити дітей на навчання.
        </p>
    </li>
    <li class="article-4-reasons-item">
        <p class="article-4-reasons-paragraph-second">На 2022 рік наші приватні школи для комфорту учнів та їхніх
            батьків розташовані у Позняках, Оскорках, Виноградарі, Теремках, Деміївській та Троєщині. Одинаковий рівень
            навчання та кваліфікації педагогів, комфортабельність, контингент учнів – кожна філія повністю відповідає
            всім нашим стандартам.</p>
    </li>
</ul>
<ul class="list-second-article-4-reasons">
    <li class="article-4-reasons-item-second">
        <h2 class="article-4-reasons-title-second">4 причини віддати дитину на навчання до приватної школи Олени
            Ведерникової
        </h2>
    </li>
    <li class="article-4-reasons-item-second">
        <h4 class="article-4-reasons-title-third">Наповнюваність класів</h4>
        <p class="article-4-reasons-paragraph-third">У кожному класі навчається від 8 до 15 школярів. Це означає, що під
            час навчального процесу вчитель може приділяти увагу кожному без винятку, а чи не працювати з малою групою
            відмінників і хорошистів. Також завдяки цьому у класі панує дружня, довірча атмосфера.
        </p>
    </li>
    <li class="article-4-reasons-item-second">
        <h4 class="article-4-reasons-title-third">Рівень викладання</h4>
        <p class="article-4-reasons-paragraph-third">Наші вчителі – це висококваліфіковані спеціалісти Києва, які
            регулярно підвищують свій рівень професіоналізму. Вони не просто мають стаж викладання та закінчену вищу
            освіту. Ці фахівці досконально знають свій предмет, використовують у роботі різноманітні сучасні та
            міжнародні прийоми, вміють знайти підхід до будь-якої дитини.</p>
    </li>
    <li class="article-4-reasons-item-second">
        <h4 class="article-4-reasons-title-third">Інший підхід до навчальної програми</h4>
        <p class="article-4-reasons-paragraph-third">Навчання будується таким чином, щоб дітям було насамперед цікаво
            здобувати знання. Програму навчання побудовано на методиці «НУШ». Великий акцент ми ставимо на поглиблене
            вивчення математики та розвитку логіки за принципами програми «Росток». Важлива деталь – щоденні заняття
            англійською мовою, кожне друге викладає носій.
        </p>
    </li>
    <li class="article-4-reasons-item-second">
        <h4 class="article-4-reasons-title-third">Сучасні класи</h4>
        <p class="article-4-reasons-paragraph-third">Навчання у нас проходить у комфортній навколишній обстановці.
            Кабінети мають сучасний ремонт, обставлені безпечними та якісними меблями. Ми використовуємо інтерактивні
            методи демонстрації матеріалів, навчаємо дітей працювати за комп'ютером та програмувати, занурюватись у
            творчість, вивчати робототехніку.</p>
    </li>
</ul>