<section>
  <div class="container">
    <div class="wrapper_metrics">
      <h2 class="name_school_metrics flex">Школа в метриці</h2>
      <p class="paragraph_school_metrics">Школа Холдернесс, оточена озерами Нью-Гемпшира<br> та Білими горами, є нью-гемпширською денною<br> школою-інтернатом для
        веселих учнів, шукачів пригод,<br> художників, адвокатів і спортсменів. Холдернес – це<br> більше, ніж школа, це
        піднесений досвід.</p>
        <img src="./images/section-metrics/metrics.jpg" alt="children" class="img_children_metrics">
    </div>
    <div class="wrapper_icon_metrics flex">
      <ul class="list_icon_metrics">
        <li class="item_icon_metrics">
          <!-- <img src="./images/svgs/if-srite-doesnt-work/star.svg" alt=""> -->
          <h2>100%</h2>
          <p>Задовільності
            учнів та батьків</p>
        </li>
        <li class="item_icon_metrics">
          <img src="" alt="NOTHING">
          <h2>25</h2>
          <p>Місце за 
            всеукраїнським
            рейтингом</p>
        </li>
        <li class="item_icon_metrics">
          <img src="" alt="NOTHING">
          <h2>7/1</h2>
          <p>Співвідношення 
            учнів до вчітелів</p>
        </li>
        <li class="item_icon_metrics">
          <img src="" alt="NOTHING">
          <h2>80%</h2>
          <p>Вчітелів зі 
            степінню магітра
            та вище</p>
        </li>
        <li class="item_icon_metrics">
          <img src="" alt="NOTHING">
          <h2>6</h2>
          <p>Шкіл у Києві</p>
        </li>
        <li class="item_icon_metrics">
          <img src="" alt="NOTHING">
          <h2>15</h2>
          <p>Середня кількість
            учнів в класі</p>
        </li>
      </ul>
    </div>
  </div>
</section>