<section class="education_section">
  <div class="container">
    <h1 class="succsessful_chidren">
      Як ми допомогаємо дітям <br />
      стати успішними
    </h1>
    <span class="quality"
      >Тримаємо високі стандарти якості освіти, адже <br />
      розуміємо, навіщо вона потрібна
    </span>
    <ul class="info">
      <li class="items">
        <h4>Ліцензований заклад освіти 1-12 кл.</h4>
        <span
          >В закладі проводиться державна підсумкова атестація учнів та
          видається атестат державного зразка.
        </span>
        <button type="button">Дізнатися більше</button>
      </li>
      <li class="items">
        <h4>Застосовуємо сучасні освітні технології</h4>
        <span
          >STEM-підхід, тематичні тижні, хвильові занурення, навчання через ігри
          та розв’язання конкретних практичних задач, баланс розумової, фізичної
          та творчої активностей.
        </span>
        <button type="button">Дізнатися більше</button>
      </li>
      <li class="items">
        <h4>Контроль якості освіти</h4>
        <span
          >Беремо участь у зовнішніх олімпіадах та проводимо регулярні
          тестування, завдання яких складаються незалежними фахівцями та є
          прозорими для батьків учнів.
        </span>
        <button type="button">Дізнатися більше</button>
      </li>
      <li class="items_picture_boy"></li>
      <li class="items">
        <h4>Посилена англійська, математика та логіка</h4>
        <span
          >Ці предмети ми даємо за поглибленими програмами, поступово готуючи
          учнів до вступу в найкращі університети країни та світу.
        </span>
        <button type="button">Дізнатися більше</button>
      </li>
      <li class="items">
        <!-- <h4>Ліцензований заклад освіти 1-12 кл.</h4>
        <span
          >В закладі проводиться державна підсумкова атестація учнів та
          видається атестат державного зразка.
        </span>
        <button type="button">Дізнатися більше</button> -->
      </li>
    </ul>
  </div>
</section>
