<section>
  <div class="container">
    <div class="wrapper_metrics">
      <h2 class="name_school_metrics flex">Школа в метриці</h2>
      <p class="paragraph_school_metrics">Школа Холдернесс, оточена озерами Нью-Гемпшира<br> та Білими горами, є
        нью-гемпширською денною<br> школою-інтернатом для
        веселих учнів, шукачів пригод,<br> художників, адвокатів і спортсменів. Холдернес – це<br> більше, ніж школа, це
        піднесений досвід.</p>
      <img src="/src/images/main-page/section-metrics/metrics.jpg" alt="children" class="img_children_metrics">
    </div>
    <div class="wrapper_icon_metrics flex">
      <ul class="list_icon_metrics flex">
        <li class="item_icon_metrics" id="card_1">
          <img src="./images/svgs/if-srite-doesnt-work/star.svg" alt="star" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">100%</h2>
          <p class="item_icon_metrics_paragraph">Задовільності<br>
            учнів та батьків</p>
        </li>
        <li class="item_icon_metrics" id="card_2">
          <img src="/src/images/svgs/if-srite-doesnt-work/diagramm.svg" alt="diagramm" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">25</h2>
          <p class="item_icon_metrics_paragraph">Місце за
            всеукраїнським
            рейтингом</p>
        </li>
        <li class="item_icon_metrics" id="card_3">
          <img src="/src/images/svgs/if-srite-doesnt-work/figures.svg" alt="figure" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">7/1</h2>
          <p class="item_icon_metrics_paragraph">Співвідношення<br>
            учнів до вчітелів</p>
        </li>
        <li class="item_icon_metrics" id="card_4">
          <img src="/src/images/svgs/if-srite-doesnt-work/small-master.svg" alt="small-master" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">80%</h2>
          <p class="item_icon_metrics_paragraph">Вчітелів зі<br>
            степінню магітра<br>
            та вище</p>
        </li>
        <li class="item_icon_metrics" id="card_5">
          <img src="/src/images/svgs/if-srite-doesnt-work/fortress.svg" alt="fortress" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">6</h2>
          <p class="item_icon_metrics_paragraph">Шкіл у Києві</p>
        </li>
        <li class="item_icon_metrics" id="card_6"> 
          <img src="/src/images/svgs/if-srite-doesnt-work/boy.svg" alt="boy" class="icon_metrics_img">
          <h2 class="item_icon_metrics_h2">15</h2>
          <p class="item_icon_metrics_paragraph">Середня кількість
            учнів в класі</p>
        </li>
      </ul>
    </div>
  </div>
</section>