<section class="education_section">
  <div class="container">
    <h1 class="succsessful_chidren">
      Як ми допомогаємо дітям <br />
      стати успішними
    </h1>
    <span class="quality-first"
      >Тримаємо високі стандарти якості освіти, адже <br />
      розуміємо, навіщо вона потрібна
    </span>
    <ul class="info">
      <li class="items">
        <h4 class="li_header">Ліцензований заклад освіти 1-12 кл.</h4>
        <span class="quality">
          В закладі проводиться <br />
          державна підсумкова атестація <br />
          учнів та видається атестат <br />
          державного зразка. </span
        ><br />
        <a class="know_more" href="#"
          >Дізнатися більше
          <img
            class="strelka_img"
            src="/src/images/section-education/strelka.svg"
            alt="strelka"
        /></a>
      </li>
      <li class="items items2">
        <h4 class="li_header">Застосовуємо сучасні освітні технології</h4>
        <span class="quality">
          >STEM-підхід, тематичні тижні, <br />
          хвильові занурення, навчання <br />
          через ігри та розв’язання<br />
          конкретних практичних задач,<br />
          баланс розумової, фізичної та<br />
          творчої активностей. </span
        ><br />
        <a class="know_more" href="#"
          >Дізнатися більше
          <img
            class="strelka_img"
            src="/src/images/section-education/strelka.svg"
            alt="strelka"
        /></a>
      </li>
      <li class="items">
        <h4 class="li_header">Контроль якості освіти</h4>
        <span class="quality"
          >Беремо участь у зовнішніх <br />
          олімпіадах та проводимо <br />
          регулярні тестування, завдання <br />
          яких складаються незалежними <br />
          фахівцями та є прозорими для <br />
          батьків учнів. </span
        ><br />
        <a class="know_more" href="#"
          >Дізнатися більше
          <img
            class="strelka_img"
            src="/src/images/section-education/strelka.svg"
            alt="strelka"
        /></a>
      </li>
      <li class="items_picture_boy"></li>
      <li class="items items-girl"></li>
      <li class="items">
        <h4 class="li_header">Посилена англійська, математика та логіка</h4>
        <span class="quality"
          >Ці предмети ми даємо за <br />
          поглибленими програмами,<br />
          поступово готуючи учнів до<br />
          вступу в найкращі університети <br />
          країни та світу. </span
        ><br />
        <a class="know_more" href="#"
          >Дізнатися більше
          <img
            class="strelka_img"
            src="/src/images/section-education/strelka.svg"
            alt="strelka"
        /></a>
      </li>
    </ul>
  </div>
</section>
