<section class="hero">
    <div class="container">
        <ul class="hero-list">
            <li class="hero-item">5 шкіл</li>
            <li class="hero-item">233 039 учня</li>
        </ul>
        <div class="hero-box">
            <h1 class="hero-title">Успішне майбутнє<br> починається в школі</h1>
            <p class="hero-text">Школа Холдернесс, оточена озерами Нью-Гемпшира та Білими горами, є нью-гемпширською
                денною
                школою-інтернатом
                для
                веселих
                учнів, шукачів пригод, художників, адвокатів і спортсменів. Холдернес – це більше, ніж школа, це
                піднесений
                досвід.</p>
        </div>
        <div class="hero-second-box">
            <button class="hero-btn"><a>Читати далі</a> <img src="./images/header/line.png"> </button>
        </div>
    </div>
</section>