<section class="why-us">
  <div class="container">
    <h4 class="why-us-ttl">Чому потрібно вибирати нас</h4>
    <ul class="reasons-list">
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">Освітня ліцензія 1-12 класи.</h5>
          <p class="reason-desc">
            Наші школи зростають разом із дітьми, тож навчаємо з 1 до 12 класу
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/monkey-bars.png"
        />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">
            <span>Європейські</span> <span>стандарти освіти.</span>
          </h5>
          <p class="reason-desc">
            Сучасні освітні технології: STEM-підхід, тематичні тижні, англійська
            з носіями мови, навчання через ігри та розв’язання практичних задач,
            баланс розумової, фізичної та творчої активностей. Використовуємо
            власну методику навчання та розвитку дітлахів.
          </p>
        </div>
        <img class="reason-photo" src="/src/images/section-why-us/piano.png" />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">
            <span>Заклад повного дня з 8:00</span> <span>до 20:00.</span>
          </h5>
          <p class="reason-desc">
            Чіткий розклад, творчі перерви, спортивні заняття, занурення у
            проєктні роботи, «домашка» у школі, прогулянки на свіжому повітрі.
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/bunny-hats.png"
        />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">Безпечна територія</h5>
          <p class="reason-desc">
            Кожен наш заклад освіти – це: приватний будинок, власна зелена
            територія, приватна охорона, протипожежна охорона та
            відеоспостереження.
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/dancing.png"
        />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">Власна зелена територія</h5>
          <p class="reason-desc">
            У кожній школі: зелене подвір’я з квітучими рослинами і деревами, а
            також майданчики для активних ігор.
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/boys-in-red.png"
        />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">Психологічний комфорт</h5>
          <p class="reason-desc">
            Підтримуємо атмосферу щирості, любові та взаємоповаги. Щодня в школі
            є дитячий психолог.
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/electric-project.png"
        />
      </li>
      <li class="reason">
        <div class="shaded-bx">
          <h5 class="reason-ttl">Індивідуальний підхід</h5>
          <p class="reason-desc">
            Для нас не існує «незручних» дітей. Кожна дитина - талановита, а
            завдання наших педагогів та школи - віднайти та розкрити таланти
            кожної дитини.
          </p>
        </div>
        <img
          class="reason-photo"
          src="/src/images/section-why-us/comp-call.png"
        />
      </li>
    </ul>
  </div>
</section>
