<section class="section-price">
    <div class="container">
        <h1 class="price-title">Вартість навчання</h1>
        <ul class="img-list">
            <li class="img-item"><img src="/src/images/svgs/if-srite-doesnt-work/big-master.svg" alt="big-master" class="img"></li>
            <li class="second-img-item"><img src="/src/images/svgs/if-srite-doesnt-work/big-master.svg" alt="big-master" class="img"></li>
            <li class="third-img-item"><img src="/src/images/svgs/if-srite-doesnt-work/computer.svg" alt="computer" class="img-second"></li>
        </ul>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="item-title title-first-placement">0 клас</h3>
                <h4 class="price-item-title price-title-placement">9 500 грн/місяць</h4>
                <p class="paragraph">Вартість навчання</p>
                <h4 class="price-item-title second-price-title-placement">15 000 грн</h4>
                <p class="paragraph">Вступний внесок одноразово</p>
                <h4 class="price-item-title third-price-title-placement">Індивідуальній підхід до<br> харчування</h4>
            </li>
            <li class="price-item">
                <h3 class="item-title title-second-placement">1-6 клас</h3>
                <h4 class="price-item-title price-title-placement">13 500 грн/місяць</h4>
                <p class="paragraph">Вартість навчання</p>
                <h4 class="price-item-title second-price-title-placement">15 000 грн</h4>
                <p class="paragraph">Вступний внесок одноразово</p>
                <h4 class="price-item-title third-price-title-placement">Індивідуальній підхід до<br> харчування</h4>
            </li>
            <li class="price-item">
                <h3 class="item-title title-third-placement">Онлайн школа</h3>
                <h4 class="price-item-title price-title-placement">3 000 – 8 500 грн/місяць</h4>
                <p class="paragraph">Вартість навчання<br>
                    залежить від класу та<br>
                    погодженої програми</p>
            </li>
        </ul>
</section>