<!-- section-helping-children -->
<div class="section-helping-children">
    <div class="text-helping-children">
        <div class="text1-helping-children">
            <h1 class="h1-helping-children">Допомагаємо дітям самостійно
                досліджувати світ і себе в ньому</h1>
            <p class="p-helping-children">«Ми створили школу, де сучасні
                академічні знання поєднуються з атмосферою свободи, творчості,
                рівності, відкритості та щирості. Де в основі навчання у дітей
                лежить зацікавленість та жага до пізнання навколишнього світу.
                Де немає «Треба, тому що треба», а важливі почуття та думки
                маленьких і дорослих учнів. Де в пріоритеті завжди щастя,
                безпека, розвиток та самовираження кожної дитини.»
            </p>
        </div>
        <div class="text2-helping-children">
            <h3 class="h3-helping-children">Олена Вєдєрнікова</h3>
            <p class="p2-helping-children">Засновниця мережі закладів освіти, мати 4-х дітей</p>
        </div>
    </div>
    <div class="pict-helping-children">
        <img class="elipses-helping-children" src="./images/section-helping-children/Ellipse73.png" alt="">
        <div class="img-helping-children"><img class="img-helping-children" src="./images/section-helping-children/pict.svg" alt=""></div>
    </div>
    
</div>