.hero {
  color: rgba(255, 255, 255, 1);
  background-color: black;
  margin-bottom: 140px;
}
.hero-list {
  display: flex;
  gap: 74px;
  margin-bottom: 48px;
  padding-top: 205px;
}
.hero-title {
  font-family: Impact;
  font-size: 76px;
  font-weight: 900;
  line-height: 92.7px;
  text-align: left;
  width: 749px;
  height: 187px;
}
.hero-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.31px;
  text-align: left;
  margin-top: 32px;
  padding-right: 331px;
}
.hero-box {
  margin-bottom: 56px;
  width: 749px;
}
.hero-btn {
  width: 183px;
  height: 53px;
  padding: 16px 16px 16px 28px;
  gap: 10px;
  border-radius: 35px;
  border: 1px rgba(136, 60, 218, 1) solid;
  display: flex;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  background-color: rgba(136, 60, 218, 1);
  align-items: center;
  color: rgba(248, 248, 248, 1);
}
.hero-second-box {
  width: 183px;
  padding-bottom: 140px;
}
