<section>
  <div class="container">
    <h2 class="title-synergia">Синергія: <br>
      дитина + батьки + школа</h2>
    <p>Щоб дитина виросла і стала успішною, самої лише<br> школи замало. Тут потрібні зусилля трьох сторін:<br> школи, батьків і
      самої дитини.</p>
      <div class="wrapper-synergia">
        <ul class="list-synergia flex">
          <li class="item-synergia flex">
            <img src="./images/svgs/if-srite-doesnt-work/brain.svg" alt="brain" class="img-synergia">
            <p class="paragraph-synergia">Ставимося до дитини як до<br> рівної особистості, яку треба<br> не «виправляти», а<br> спрямовувати</p>
          </li>
          <li class="item-synergia">
            <p class="paragraph-synergia">Залучаємо батьківу процес<br> навчання, до спеціалізованих<br> тренінгів і гакатонів</p>
          </li>
          <li class="item-synergia">
            <p class="paragraph-synergia">Надаємо постійний фідбек з<br> боку школи, а також<br> розробили систему<br> гейміфікації</p>
          </li>
        </ul>
      </div>
  </div>
</section>