<section class="section-about-us">
    <div class="container">
        <h2 class="title-about-us">Про нас у смі</h2>
        <ul class="list-about-us">
            <li class="title-about-us">
                <h4>Широкий вибір та зручне розташування шкіл
                </h4>
                <p>Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="title-about-us">
                <h4>Розвиток усіх аспектів
                    дитини
                </h4>
                <p>Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="title-about-us">
                <h4>Індивідуальний підхід до
                    кожного учня</h4>
                <p>Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="title-about-us">
                <h4>Широкий вибір та зручне розташування шкіл
                </h4>
                <p>Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
        </ul>
    </div>
</section>