<section class="section-about-us">
    <div class="container">
        <h2 class="title-about-us">Про нас у смі</h2>
        <ul class="list-about-us">
            <li class="item-about-us">
                <img src="/src/images/about-us-page/woman.png" alt="img">
                <h4 class="about-us-title">Широкий вибір та зручне розташування шкіл
                </h4>
                <p class="text-about-us">Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="item-about-us">
                <img src="/src/images/about-us-page/boy.png" alt="img">
                <h4 class="about-us-title">Розвиток усіх аспектів
                    дитини
                </h4>
                <p class="text-about-us">Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="item-about-us">
                <img src="/src/images/about-us-page/child.png" alt="img">
                <h4 class="about-us-title">Індивідуальний підхід до
                    кожного учня</h4>
                <p class="text-about-us">Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
            <li class="item-about-us">
                <img src="/src/images/about-us-page/girl.png" alt="img">
                <h4 class="about-us-title">Широкий вибір та зручне розташування шкіл
                </h4>
                <p class="text-about-us">Протягом усіх років навчання ми фіксуємо та зберігаємо всі надбання і досягнення дитини.</p>
            </li>
        </ul>
    </div>
</section>