<section>
  <div class="container">
    <h2 class="title-synergia">Синергія: <br>
      дитина + батьки + школа</h2>
    <p>Щоб дитина виросла і стала успішною, самої лише<br> школи замало. Тут потрібні зусилля трьох сторін:<br> школи, батьків і
      самої дитини.</p>
      <div class="wrapper-synergia">
        <ul class="list_img_synergia flex">
          <li class="item_img_synergia">
            <img src="./images/svgs/if-srite-doesnt-work/brain.svg" alt="" class="card_synergia">
          </li>
          <li class="item_img_synergia">
            <img src="./images/svgs/if-srite-doesnt-work/pancel.svg" alt="" class="card_synergia">
          </li>
          <li class="item_img_synergia">
            <img src="./images/svgs/if-srite-doesnt-work/sms.svg" alt="" class="card_synergia">
          </li>
        </ul>
        <ul class="list-synergia flex">
          <li class="item-synergia flex">
            <p class="paragraph-synergia">Ставимося до дитини як до<br> рівної особистості, яку треба<br> не «виправляти», а<br> спрямовувати</p>
          </li>
          <li class="item-synergia">
            <p class="text_paragrpah">Залучаємо батьківу процес<br> навчання, до спеціалізованих<br> тренінгів і гакатонів</p>
          </li>
          <li class="item-synergia">
            <p class="text-paragrpah">Надаємо постійний фідбек з<br> боку школи, а також<br> розробили систему<br> гейміфікації</p>
          </li>
        </ul>
      </div>
  </div>
</section>