<!-- Maxim  -->


<footer class="footer">
  <div class="container">
    <ul class="logo-and-form flex">
      <li>
        <div class="logotype"></div>
        <ul class="social-net-list flex">
          <li id="social-1" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-2" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-3" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-4" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-5" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-6" class="social-net-list-item"><a href="#"></a></li>
          <li id="social-7" class="social-net-list-item"><a href="#"></a></li>
        </ul>
      </li>
      <li>
        <h3 class="name-of-subscribe-form">
          Підпишися на наші новини
        </h3>
        <div class="input-group">
          <input type="email" class="input" id="Email" name="Email" placeholder="example11@gmail.com"
            autocomplete="off">
          <button class="btn button--submit" type="button">Записатися</button>
          </input>
        </div>
      </li>
    </ul>
    <ul class="footer-main-list flex">
      <li>
        <ul id="footer-list-1" class="tell-us-list left flex">
          <li class="tell-us-list-item list-name">Зателефонуйте нам</li>
          <li class="tell-us-list-item"><a href="tel:+380675399417">+38 (067) 539-94-17</a></li>
          <li class="tell-us-list-item"><a href="tel:+380503805503">+38 (050) 380 55 03</a></li>
        </ul>
      </li>
      <li>
        <ul id="footer-list-3" class="footer-lists flex">
          <li class="tell-us-list-item list-name">Про школу</li>
          <li class="tell-us-list-item"><a href="#">Наша місія</a></li>
          <li class="tell-us-list-item"><a href="#">Про школу у СМІ</a></li>
          <li class="tell-us-list-item"><a href="#">Документи</a></li>
        </ul>
      </li>
      <li>
        <ul id="footer-list-4" class="footer-lists flex">
          <li class="tell-us-list-item list-name">Наші школи</li>
          <li class="tell-us-list-item"><a href="#">Школи у Києві</a></li>
          <li class="tell-us-list-item"><a href="#">Школа № 1</a></li>
          <li class="tell-us-list-item"><a href="#">Школа № 2</a></li>
          <li class="tell-us-list-item"><a href="#">Школа № 3</a></li>
          <li class="tell-us-list-item"><a href="#">Школи в інших містах</a></li>
        </ul>
      </li>
      <li>
        <ul id="footer-list-5" class="footer-lists flex">
          <li class="tell-us-list-item list-name">Інші послуги</li>
          <li class="tell-us-list-item"><a href="#">Літній табір</a></li>
          <li class="tell-us-list-item"><a href="#">Позашкільна активність</a></li>
          <li class="tell-us-list-item"><a href="#">Online help</a></li>
        </ul>
      </li>
      <li>
        <ul id="footer-list-6" class="footer-lists flex">
          <li class="tell-us-list-item list-name"><a href="#">Блог</a></li>
          <li class="tell-us-list-item list-name"><a href="#">Контакти</a></li>
          <li class="tell-us-list-item list-name"><a href="#">Covid19</a></li>
          <li class="tell-us-list-item list-name"><a href="#">Особистий кабінет</a></li>
        </ul>
      </li>
      <li>
        <ul id="footer-list-2" class="footer-lists flex">
          <li class="tell-us-list-item list-name">Наша адреса</li>
          <li class="tell-us-list-item"><a href="https://maps.app.goo.gl/Bt9aX99ss7F8CxRd7" target="_blank">
              <address>Київ, вул. Дніпровська Набережна, 18А</address>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="under-list flex">
      <li class="under-list-item">Усі права є захищеними EV School 2021. &copy;</li>
      <li class="under-list-item"><a href="#">Договір аферти</a></li>
    </ul>
  </div>
</footer>