<header class="header">
    <div class="container">
        <div class="tel">
            <a href="tel:+380675399417" class="header-link-box">+38 (067) 539-94-17</a>
            <div class="ua">
                <p class="language">UA</p>
                <img src="./images/header/line.png" alt="fd" class="img-tel">
            </div>
            <p>Вхід</p>
        </div>
        <div class="logo">
            <img src="./images/header/logo.png" alt="df">
            <img src="./images/header/big-line.png" alt="d" class="logo-img">
        </div>
        <div class="box">
            <ul class="list">
                <li class="item">
                    <p>Про нас</p>
                    <img src="./images/header/line.png">
                </li>
                <li class="item">
                    <p>Наші школи</p>
                    <img src="./images/header/line.png">
                </li>
                <li class="item">
                    <p>Інші послуги</p>
                    <img src="./images/header/line.png">
                </li>
                <li class="item">
                    <p>Блог</p>
                    <img src="./images/header/line.png">
                </li>
                <li class="item">
                    <p>Контакти</p>
                    <img src="./images/header/line.png">
                </li>
            </ul>
            <button class="btn">Записатися</button>
        </div>
    </div>
</header>