/* Basic */
@import './utils/fonts.css';
@import './utils/vars.css';
@import './base/common.css';
@import './base/base-set.css';

/* Main Page */
@import './layout/main-page/section-hero.css';
@import './layout/main-page/section-metrics.css';
@import './layout/main-page/section-education.css';
@import './layout/main-page/section-helping-children.css';
@import './layout/main-page/section-price.css';
@import './layout/main-page/section-why-us.css';

/* Components */
@import './layout/header.css';
@import './layout/footer.css';
@import './components/section-consultation-form.css';

